*{
  outline: solid 2px red;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.pay-now-container{
    flex-direction: column;
    border: solid black 1px;
    padding: 1em 2em;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pay_now_price {
  font-weight: bold;
  animation: pulse 3s infinite;
}

.pay_later_container{
  flex-direction: column;
  padding: 1.6em 2em 0em 0em;
}

.pay_later_container button {
  /* margin-bottom: 1em; */
}

@media (max-width: 1024px) {
  .checkout_cart_container{
    width: 100%;
  }
  .flex-col {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }
  .checkout_container {
    width: 100%; /* Full width for mobile */
  }

  .address_section{
    margin-top: 0rem;
    padding: 0rem;
    max-width: 100%;
    margin-bottom: 17em;
  }

}
.checkout_container {
  
  display: flex;
  padding: 2em;
  max-width: 1400px;
}

.address_section{
  display: block;
  background-color: rgb(50, 50, 50);

  /* height: fit-content; */
}

.address_content{
  background-color: rgb(50, 50, 50);
  border-radius: 0.5rem;
}

.address_paragraph{
  padding: 1em 0em;
  display: inline-block;
}

.diamond_detail_text{
  font-size: clamp(0.7rem, 1vw, 0.9rem);
}

.diamond_detail_text_2{
  font-size: clamp(0.7rem, 1vw, 0.9rem);
}

.diamond_detail_text_3{
  font-size: clamp(0.7rem, 1vw, 0.9rem);
}

.diamond_detail_text_4{
  font-size: clamp(0.7rem, 1vw, 0.9rem);
}

.address_top{
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
  border-bottom: solid 1px ;
  border-radius: 0.5rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.modal-content p {
  margin-bottom: 20px;
}


.modal button {
  margin-right: 10px;
}