h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}